@tailwind base;
@tailwind components;
@tailwind utilities;
@fortawesome/fontawesome-free/css/all.min.css;

.scrollbar-thin-custom::-webkit-scrollbar {
  height: 6px;
}


/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
